*.o
*.a
Makefile.cdb-p
auth_dovecot
auth_imap
auth_pop
auth_smtp
auto-ccld.sh
auto-gid
auto-int
auto-int8
auto-str
auto-uid
auto_break.c
auto_patrn.c
auto_qmail.c
auto_spawn.c
auto_split.c
auto_uids.c
auto_usera.c
auto_userl.c
binm1
binm1+df
binm2
binm2+df
binm3
binm3+df
bouncesaying
chkshsgr
chkspawn
compile
condredirect
condwrite
config
config-fast
datemail
digest
direntry.h
dns.lib
dnscname
dnsfq
dnsip
dnsmxip
dnsptr
elq
endian
except
find-systype
fork.h
forward
hasflock.h
hasmkffo.h
hasnpbg1.h
hassalen.h
hassgact.h
hassgprm.h
hasshsgr.h
haswaitp.h
home
home+df
hostname
idedit
install
install-big
instcheck
ipmeprint
load
maildir2mbox
maildirmake
maildirwatch
mailsubj
make-compile
make-load
make-makelib
makelib
pbsadd
pbscheck
pbsdbd
pinq
predate
preline
proc
proc+df
qail
qbiff
qmail-cdb
qmail-clean
qmail-forward
qmail-getpw
qmail-group
qmail-imapd-ssl.run
qmail-imapd.run
qmail-inject
qmail-ldaplookup
qmail-local
qmail-lspawn
qmail-newmrh
qmail-newu
qmail-pbsdbd.run
qmail-pop3d
qmail-pop3d-ssl.run
qmail-pop3d.run
qmail-popup
qmail-pw2u
qmail-qmqpc
qmail-qmqpd
qmail-qmqpd.run
qmail-qmtpd
qmail-qread
qmail-qstat
qmail-queue
qmail-quotawarn
qmail-remote
qmail-reply
qmail-rspawn
qmail-secretary
qmail-send
qmail-showctl
qmail-smtpd
qmail-smtpd.run
qmail-start
qmail-tcpok
qmail-tcpto
qmail-todo
qmail-upq
qmail-verify
qmail.run
qreceipt
qsmhook
select.h
sendmail
socket.lib
splogger
syslog.lib
systype
tcp-env
uint32.h
uint64.h
